*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none ;
}

body{
  font-family:'Courier New', Courier, monospace;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/Fond\ 2.jpg);
  background-size: cover;
}


.navbar{
  position: absolute;
  padding:  50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  background-color: orangered;

}

.navbar li:hover{
  background-color: #4c9e9e;
  border-radius: 15px;
  transition: 0.3s ease;
  backdrop-filter: blur(10px);
}

.navbar a {

  color: #fff;
  border-radius: 10px;
}

.navbar {
      font-size: 30px;
      font-weight: bold;
}

.logo {
  font-size: 30px;
}



.navbar .navlien ul{
  display: flex;

}

.navbar .navlien ul li{
  display: flex;
  margin: 0 30px;

}

.navbar .menuhambuger {
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 35px;

}

 /************barre de recherche **************/
 .input-box{
  position: relative;
  height: 55px;
  max-width: 55px;
  width: 100%;
  margin: 0 40px;
  border-radius: 6px;
  background-color: #fff;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box.open{
  max-width: 200px;
}
input{
  position: relative;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}
.input-box.open{
  padding: 0 15px 0 65px;
}
.icon{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.search-icon,
.close-icon{
  position: absolute;
  top: 50%;
  font-size: 30px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-icon{
  color: orangered;
  cursor: pointer;
  
  transform: translateY(-50%) rotate(90deg);
}
.input-box.open .search-icon{
  transform: translateY(-50%) rotate(0);
}
.close-icon{
  right: -45px;
  color: #fff;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.5s;
}
.input-box.open .close-icon{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}
/************barre de recherche **************/

/************principale**************/
.principale{
  display: flex;
  justify-content: space-evenly;
  padding-top:65px;
  align-items:flex-end;
}
.droit{
  width: 440px;
  height: 440px;
  background-size:cover;
  border-radius: 400px;
  display: flex;
  justify-content: center;
  align-items:center;
}

/**********gauche************/
.gauche p:nth-child(1){
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  font-style: italic;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #d60;
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
 
}
.gauche h1{
  font-size: 90px;
  color:white;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #d60;
  display: flex;
  justify-content: center;
  
  

}
.gauche p:nth-child(3){
  color: black;
  font-size: 40px;
  font-style: italic;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
  display: flex;
  justify-content: center;
 
}
 
   
/*********Réseaux-sociaux***************/

.Réseaux-sociaux{
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 200px;
  background-color:orangered;
  font-size: 30px;
 
}

.Réseaux-sociaux i:hover {
  color:white;
}

/*********Réseaux-sociaux***************/




/*********Page pricipale*******/


@media screen and (max-width: 768px) {
  .navbar {
    padding: 0;
   z-index: 2;
  }
  .navbar .menuhambuger{
    display: block;
  }

  .navlien {
    top: 0;
    left: 0;
   position: absolute;
   background-color: rgb(255, 255, 255, 0.20);
   backdrop-filter: blur(8px);
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: -100%;
   transition: all 0.5s ease;

  }

  .navlien.mobilemenu{
    margin-left: 0;
  }

  .navlien ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
   }

   .navbar .navlien ul li{
    margin:25px 0;
    font-size: 1.2em;

  
  }

  .navbar .logo{
    position: absolute;
    top: 50px;
    left: 50px;
}
.icon{
  display: none;
}

.input-box{
  display: none;
}

.principale .gauche p{
  font-size: 30px;
  margin: 10px;
  transform: translate(100px);
  z-index: 2;
  

  
}
.principale .gauche h1{
  font-size: 30px;
  margin-bottom: 15px;
  transform: translate(100px);
}
.logo{
  font-size: 25px;
 
}

.Réseaux-sociaux{

  display: none;
  
}

}
  
